<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lightbox-demo</title>
    <link rel="stylesheet" href="lightbox.css">
</head>
<body>
    <div class="row">
        <div class="column">
          <img src="demo-pics/demo-picspexels-picjumbocom-196644.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </div>
        <div class="column">
          <img src="demo-pics/demo-picspexels-pixabay-270404.png" onclick="openModal();currentSlide(2)" class="hover-shadow">
        </div>
        <div class="column">
          <img src="demo-pics/demo-picspexels-tranmautritam-251225.png" onclick="openModal();currentSlide(3)" class="hover-shadow">
        </div>
    </div>
      
      <!-- The Modal/Lightbox -->
      <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
      
          <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="demo-pics/demo-picspexels-picjumbocom-196644.png" style="width:100%">
          </div>
      
          <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="demo-pics/demo-picspexels-pixabay-270404.png" style="width:100%">
          </div>
      
          <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="demo-pics/demo-picspexels-tranmautritam-251225.png" style="width:100%">
          </div>
      
      
          <!-- Next/previous controls -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
          <!-- Caption text -->
          <div class="caption-container">
            <p id="caption"></p>
          </div>
      
          <!-- Thumbnail image controls -->
          <div class="column">
            <img class="demo" src="demo-pics/demo-picspexels-picjumbocom-196644.png" onclick="currentSlide(1)" alt="wireframing">
          </div>
      
          <div class="column">
            <img class="demo" src="demo-pics/demo-picspexels-pixabay-270404.png" onclick="currentSlide(2)" alt="coding">
          </div>
      
          <div class="column">
            <img class="demo" src="demo-pics/demo-picspexels-tranmautritam-251225.png" onclick="currentSlide(3)" alt="busy-desk">
          </div>
        </div>
      </div>
      <script src="lightbox.js"></script>
</body>
</html>
<!-- images used to open the lightbox -->
