@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&family=Montserrat:wght@500&display=swap');

:root {
  
  --primary-color: #003049;
  --secondary-color: #313131;
  --accent1-color: #f77f00;
  --accent2-color: #fcbf49;


  --heading-font: "Inter";
  --paragraph-font: "Montserrat", Helvetica, sans-serif;

  
  --headline-color-on-fcbf49: #003049;  
  --headline-color-on-color: #f77f00; 
  --paragraph-color-on-fcbf49: #003049; 
  --paragraph-color-on-color: white; 
  --paragraph-background-color: #003049;
  --nav-link-color: #fcbf49;
  --nav-background-color: #313131;
  --nav-hover-link-color: #313131;
  --nav-hover-background-color: #f77f00;
}

  body{
      background-color:#f3f3f3;
      padding: 0;
      margin: 0;
  }

  header{
      background-color:var(--nav-background-color);
      font-family: 'Inter', sans-serif;
      display: grid;
      grid-template-columns: 150px auto;
  }

  .logo{
      width: 80px;
  }

  #logo_link{
      padding-top: 5px;
      justify-self: center;
      align-self: center;
  }


  .icon{
      width: 80px;
      padding-top: 10px;
      
  }

  #hero{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      margin-top: -100px;
  }

  #hero-box{
      grid-column: 1/4;
      grid-row: 1/3;
      z-index: -1;
  }

  #hero-img{
      width: 100%;
  }


  h4{
      color: var(--headline-color-on-fcbf49);
      font-family: 'Inter', sans-serif;
  }

  
  #content{
    max-width: 1600px;
    margin: 0 auto;
  }
  
  nav{
      display: flex;
      justify-content: space-around;
    }
    
    nav a{
      text-align: center;
      color: var(--nav-link-color);
      text-decoration: none;
      padding: 35px;
    }
    
    nav a:hover{
      background-color:var(--nav-hover-link-color) ;
      color: var(--nav-hover-background-color);
      text-align: center;
      text-decoration: none;
    }
    
    
    #hero-msg{
      justify-self: center;
      grid-column: 2/3;
      grid-row: 1/2;
      margin-top: 50%;
  }
  
   #hero-msg h1, #hero-msg h4{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: var(--headline-color-on-fcbf49);
    font-size: 5em;
   }

   #hero-msg h4{
    font-size: 2em;
   }
   

  
  .home-title{
    color: var(--headline-color-on-fcbf49);
    font-family: 'Montserrat', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;

  }
  
  
  .main-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 750px; /* Two columns: Left column takes 1 fraction, Right column has a fixed width of 750px */
    grid-column-gap: 20px; /* Gap between the columns */
    align-items: start; /* Align items at the top of the grid cells */
  }
  
  #sa-img {
    width: 100%; /* Ensure the image occupies the full width of its container (the right column) */
    height: auto; /* Preserve the aspect ratio of the image */
  }
  
  .main-info {
    text-align: start;
    
  }
  
  .main-info h1{
    font-family: var(--heading-font);
  }
  
  .main-info p{
    font-family: var(--paragraph-font);
  }
  
  .second-paragraph{
    margin-top: 200px;
  }
  
  
  .contactus{
    grid-column: 5/6;
    grid-row: 7/8;
    margin-top: 50%;
    justify-self: center;
    align-self: center;
    background-color: #dd6031;
    padding: 25px;
    text-decoration: none;
  }
  
  
  main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  
  main section{
    text-align: center;
  }
  
  main section img{
    box-sizing: border-box;
  }
  
  #background{
    height: 725px;
    background-color:#f3f3f3;
    grid-column: 1/11;
    grid-row: 4/9;
  }
  
  .social img{
    width: 80px;
  }
  
  footer{
    background-color:var(--nav-background-color);
    color: #f3f3f3;
    font-family: 'Inter', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer a{
    color:var(--paragraph-color-on-fcbf49);
    text-decoration: none;
  }
  
  footer a:hover{
    color: #f3f3f3;
  }
  
  footer p{
    font-size: 1.2em;
  }
  
  footer p a:hover{
    text-decoration: underline;
  }
  
  footer .social img{
    padding-top: 15px;
  }
  
  .home-grid{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(8, 180px);
    grid-template-rows: repeat(2, 200px);
    
  }
  
  .card-img{
    grid-column: 1/4;
    grid-row: 1/2;
    width: 276px;
    height: 200px;
    margin-left: 360px;
    position: relative;
    justify-self: center;
  }    
    .msg{
      grid-column: 4; /* Update grid-column to 1/4 to span the same columns as .card-img */
      grid-row: 1; /* Update grid-row to 1/2 to cover two rows */
      background-color: var(--paragraph-background-color);
      line-height: 1.5em; /* Update line-height */
      padding: 20px;
      margin-left: 560px;
      margin-top: 70px;
      position: absolute; /* Add absolute positioning to place .msg on top */
      box-shadow: 5px 5px 10px #6f7364;
    }
  
  .msg h2{
    color: var(--headline-color-on-fcbf49);
    font-family: 'Inter', sans-serif;
    margin: 0;
  }

  .msg p{
    color: var(--paragraph-color-on-fcbf49);
    font-family: 'Montserrat', Courier, monospace;
      font-size: .8em;
      padding-bottom: 15px;
  }


  .home-grid p{
    /* margin-top: 100px; */
    font-family: var(--paragraph-font);
    grid-column: 3/6;
    grid-row: 2;
    text-align: center;
    justify-self: center;
    margin-left: 30px;
  }

  .join{
    background-color:var(--paragraph-background-color) ;
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
    font-family: var(--heading-font);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }

  .join:hover{
    background-color:var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
  }


  /*WHAT Page*/

  h2{
    font-family: var(--heading-font);
    font-size: 2.4em;
    color: var(--nav-background-color);
  }

  p{
    font-family: var(--paragraph-font);
    font-size: 1.5em;
    color: var(--accent1-color);
  }

  em{
    font-weight: bold;
    font-style: normal;
  }

  ul{
    list-style: decimal;
    font-size: 1.2em;
  }

  li{
    padding:.5em.5em ;
    margin: 10px 0 0 20px;
    font-size: 1.3em;
  }
  
  #what-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 800px 100px 0;
    /* height: 100vh; Ensure the grid takes up the full viewport height */
  }
  
  #what-hero-img {
    grid-row: 2;
    max-width: 80%;
    height: 800px;
    margin: 50px 0 0 120px ; /* Center the image horizontally by using auto margins */
  }

  .what-grid {
    display: grid;
    grid-template-columns: 750px 1fr;
    grid-template-rows: 800px 200px 700px 0 ;
    justify-self: start;
    
  }
  
  .container {
    align-self: center;
    width: 500px;
    grid-column: 2; /* Updated to position the container on the left side of .branding */
    grid-row: 3 / span 3; /* Set the container to span three rows */
    /* background-color: #f77f00; */
    padding: 20px;
    color: var(--nav-hover-link-color);
    z-index: 1; /* Ensure the container is on top of the image */
    position: relative; /* Set the container position to relative */
  }
  
  .what-info{
    text-align: left;
    color: var(--accent1-color);
    grid-column: 1/2;
    width: 1200px;
    grid-row: 1;
    max-width: 1300px;
    margin-left: 10px;
    height: 800px;
  }

  #background{
    height: 725px;
    background-color:#f3f3f3;
    grid-column: 1/11;
    grid-row: 4/9;
}

.branding{
  width: 700px;
  height: auto;
  grid-column: 1;
  grid-row: 3;
  box-shadow: 5px 5px 10px #6f7364;
  margin-left: 10%;
  
}


#call-to-action{
  align-self:center;
  grid-column: 1/2;
  grid-row: 2;
  max-width: 1500px;
  width: 1200px;
  margin-left: 10px;
  color: var(--nav-background-color);
  font-family: var(--heading-font);
  font-size: 1.8em;
  margin-bottom: 100px;
}


/*CTA*/

._card{
  padding:1.5em;
  transition: all 0.5s ease-in-out;
  &:hover{
    transform:translateZ(1000px);
  }
  background: linear-gradient(to bottom right, var(--accent1-color) 0%, var(--primary-color) 100%);
  ._card-icon{
    display:flex;
    color:#313131;
    justify-content:center;
    align-items:center;
    padding:0.2em;
    font-size:100px;
  }
  ._card-body{
    padding-bottom:2em;
    ._card-heading{
      font-size:1.6em;
      font-weight:bold;
      font-family:sans-serif;
      color:var(--paragraph-background-color);
      opacity:1;
    }
    ._card-text{
      display:block;
      color:var(--nav-background-color);
      opacity:1;
      text-align:center;
    }
    ._card-input{
      margin-top:15px;
      background:none;
      margin-bottom:17px;
      font-size:1em;
      color:var(--nav-background-color)
    }
    ._card-button{
      color:var(--nav-hover-background-color);
      font-family:sans-serif;
      font-weight:200;
      font-size:0.9em;
      padding: 15px;
      background-color: var(--primary-color);
      &:hover{
        color:var(--nav-link-color)
        
      }
    }
  }
}

/*WORK*/

#work{
  display: grid;
  grid-template-columns: repeat(3, 500px);
}

.wireframe{
  max-width: 500px;
  max-height: 1000px;
  
}

#wwr-wireframe{
    display: grid;
    grid-template-columns: 500px repeat(2, 500px);
    max-width: 1450px;
    /* gap: 20px; */
}

#wwr-wireframe h2,
#wwr-wireframe p {
  grid-column: 1/2;
  text-align: start;
  width: 400px;
  margin-left: 10px;
  
}

#wwr-wireframe h2{
  grid-column: 1/2;
  width: 800px;
}

#wwr-wireframe p{
  width: 600px;
}

#wireframe1,
#wireframe2{
  max-width: 370px;
  scale: 100%;
}

#wireframe1{
  grid-column: 2;
  justify-self: end;
  
}

#wireframe2{
  grid-column: 3;
  /* margin-left: 20px; */
  justify-self: end;
}

#wwr-homepage{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    max-width: 1450px;
    margin-top: 100px;
    /* gap: 20px; */
}

#wwr-homepage h2,
#wwr-homepage p{
  grid-column: 2/3;
  grid-row: 1;
  width: 850px;
  text-align: start;
  margin-left: 10px;
}

#wwr-homepage p{
  margin-top: 100px;
}

.homepage-img{
  grid-column: 1;
  justify-self:center;
}

#wwr-blogpage{
  display: grid;
  grid-template-columns: repeat(3, 500px);
  max-width: 1450px;
  margin-top: 100px;
}

#wwr-blogpage h2,
#wwr-blogpage p {
  grid-column: 1/2;
  text-align: start;
  margin-left: 10px;
  width: 800px;
}

.blogpage-img{
  grid-column: 3;
  justify-self: center;
}

#wwr-design_system{
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: 70px 70px 670px 500px;
  max-width: 1450px;
  margin-top: 100px;
}

#wwr-design_system h2{
  grid-column: 1/2;
  grid-row: 1;
  width:800px;
  align-self: center;
}

#color{
  grid-row: 2;
  grid-column: 1;
}
#summary{
  grid-row: 4;
  grid-column: 1/3;
  width: 1450px;
  text-align: start;
  margin-left: 10px;
}

#wwr-design_system ul {
  grid-column: 1/2;
  grid-row: 3;
  text-align: left;
  width: 900px;
}


/* #wwr-design_system p{
  grid-column: 1/2;
  grid-row: 2;
  width: 800px;
  text-align: start;
  margin: 10px;

} */

#wwr-design_system-img em{
  grid-column: 1;
  grid-row: 2;
  text-align: start;
}

.design_system-img{
  grid-column: 3;
}

  /* ContactUs Page */

  /* #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;  
  }
  .moveDown {
    margin-top: 3em;
  }

  form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li + li {
    margin-top: 1em;
  }

  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  input,
  textarea {
    font: 1em sans-serif;

    width: 300px;
    box-sizing: border-box;

    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    border-color: #000;
  }

  textarea {

    vertical-align: top;
    height: 5em;
  }

  .button {
    padding-left: 90px; 
  }

  button {
    margin-left: 0.5em;
  } */



  @media screen and (max-width: 1024px) {
    /* Media query for screens with a maximum width of 1024px */
  
    .main-grid {
      grid-template-columns: 1fr; /* Change the grid layout to a single column */
    }
  
    #hero {
      grid-template-columns: 1fr; /* Change the grid layout to a single column */
      margin-top: -50px; /* Adjust the margin-top for better alignment */
    }
  
    #hero-msg h1,
    #hero-msg h4 {
      font-size: 3em; /* Decrease the font size for smaller screens */
    }
  
    /* Add more responsive styles as needed */
  }
  
  @media screen and (max-width: 768px) {
    /* Media query for screens with a maximum width of 768px */
  
    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5,
    fieldset,
    .main-info,
    #wwr-design_system h2 {
      grid-template-columns: 1fr; /* Change the grid layout to a single column */
    }
  
    .main-grid {
      grid-template-columns: 1fr; /* Change the grid layout to a single column */
    }
  
    .main-info h1,
    .main-info p,
    #hero-msg h1,
    #hero-msg h4 {
      font-size: 2em; /* Decrease the font size for smaller screens */
    }
  
    /* Add more responsive styles as needed */
  }
  
  @media screen and (max-width: 480px) {
    /* Media query for screens with a maximum width of 480px */
  
    .grid2,
    .grid4,
    .grid5,
    .what-grid,
    .home-grid,
    #wwr-homepage,
    #wwr-blogpage,
    #wwr-design_system,
    #wwr-wireframe {
      grid-template-columns: 1fr; /* Change the grid layout to a single column */
    }
  
    #hero-msg h1,
    #hero-msg h4,
    .main-info h1,
    .main-info p,
    #wwr-design_system h2,
    h2,
    p,
    em,
    li {
      font-size: 1.5em; /* Decrease the font size for smaller screens */
    }
  
    /* Add more responsive styles as needed */
  }